.subnav>nav>nav{ position:relative; margin: 2px 20px 0 0;float: right;}
.subnav>nav>.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.subnav>nav>.sf-menu ul li {width:100%}
.subnav>nav>.sf-menu li {float:left;position:relative; list-style:none;}

.subnav>nav>.sf-menu>li>a{display:block;position:relative; font-size: 14px; line-height: 19x; color:#555;padding: 2px 7px 4px 7px; text-decoration:none}
.subnav>nav>.sf-menu>li>a:hover,.subnav>nav>.sf-menu>li.current>a,.subnav>nav>.sf-menu>li.sfHover>a{color:#545454;}

.subnav>nav>.sf-menu>li{margin-left:6px;}
.subnav>nav>.sf-menu a{}

/*================================>> 2 Level <<========================================*/
.subnav>nav>.sf-menu li ul,.subnav>nav>.sf-menu>li.sfHover ul{box-shadow: 0 0 0 1px #e4e4e4; left:0px;top:29px;min-width: 100px;box-shadow: 0 0 0 1px #e4e4e4;padding:10px 10px 10px 10px;background:#fff;z-index:99; margin-left:0px; text-align:left}
.subnav>nav>.sf-menu li ul li{margin-bottom:5px;}
.subnav>nav>.sf-menu li ul li a{color:#545454; font-size: 13px;}
.subnav>nav>.sf-menu li li a:hover, .subnav>nav>.sf-menu li.sfHover li.sfHover>a{color:#3bb2d0;}

/*================================>> 3 Level <<========================================*/
.subnav>nav>.sf-menu li li ul{left:173px !important;top:-15px !important;}

.subnav>nav>.sf-menu .menu-arrow{display:none;}

/* footer */
#page #footer div.navigation {border-top-left-radius:0;border-top-right-radius:0;margin-top:0;}
#footer {margin-top:0}